{
  "plugins": ["@stylistic/stylelint-plugin"],
  "rules": {
    "color-function-notation": "modern",
    "selector-max-compound-selectors": 2,

    "@stylistic/color-hex-case": "lower",
    "@stylistic/number-leading-zero": "always",
    "@stylistic/unit-case": "lower"
    
  }
}
